<h1>This is Backbone Demo.</h1>
<div class="conatainer" id="container">
  Product : Nice dress for all ocassions !

  <br>
  <br>

  <select id="facets">
    <option value="Size">Size</option>
    <option value="Color">Color</option>
    <option value="Quantity">Quantity</option>
  </select>
</div>

<div id="size-selection" hidden>
  Size selection dialog
  <form>
    <input type="radio" name="sizes" value="2S" checked> Small
    <br>
    <input type="radio" name="sizes" value="3M"> Medium
    <br>
    <input type="radio" name="sizes" value="4L"> large
  </form>
</div>

<div id="color-selection" hidden>
  Color selection dialog
</div>
<div id="quantity-selection" hidden>
  Quantity selection dialog
</div>

<button id="next"> Next </button>
<div id=shipaddress hidden>
  <h2>
    Shipping Address
    </h2>
  <div>
    <label>AddressOne</label>
    <input type="text" required="required" name="address1" id="addOne" autofocus/>
  </div>
  <div>
    <label>AddressTwo</label>
    <input type="text" name="address2" id="addTwo" autofocus/>
  </div>
  <div>
    <label>City</label>
    <input type="text" name="city" id="city" autofocus/>
  </div>
  <div>
    <label>State</label>
    <input type="text" name="state" id="state" autofocus/>
  </div>
  <div>
    <label>ZipCode</label>
    <input type="number" name="zipcode" id="zipcode" autofocus/>
  </div>
  <div>
    <button type="button" id="finish">Finish</button>
  </div>
</div>

<br>
<br>
<div id=analyticsinfo hidden>
  Selected product:
  <br> {Product information}
  <br>
  <br> Will be shipped to :
  <br> {Shipping information}
</div>